<div class="card mt-5" style="margin:auto;width: 600px;">
    <div class="card-body">
        <h5 class="card-title">Detail Post </h5>
    </div>
    <div class="form-group">
        <label for="email">Title</label>
        <input disabled class="form-control" type="text" [(ngModel)]="title" /><br>

    </div>
    <div class="form-group">
        <label for="email">Description</label>
        <input disabled class="form-control" type="text" [(ngModel)]="desc" /><br>
    </div>
    <div class="form-group">
        <label for="email">Date</label>
        <input disabled class="form-control" type="text" [(ngModel)]="date" /><br>
    </div>
    <div class="form-group">
        <label for="email">User</label>
        <input disabled class="form-control" type="text" [(ngModel)]="user" /><br>
    </div>

</div>