<h2>List of posts</h2>
<div class="card col-lg-10">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let post of getItems()">
      <a href="" (click)="postClicked(post)">{{post.title}}</a>
    </li>
  </ul>
</div>
<hr>
<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Post</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <label for="title">Title</label>
              <div class="input-group">
                  <input name="title" type="text" class="form-control" id="titleInput" [(ngModel)]="title"
                      placeholder="Enter title">
              </div>
          </div>
          <div class="form-group">
              <label for="description">Description</label>
              <textarea name="description" class="form-control" [(ngModel)]="desc" id="descriptionInput"
                  placeholder="Travel Description"></textarea>
          </div>

      </form>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addPostClicked()">Add</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add</button>

